:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

main{
  height: 100vh;
  width: auto;
  background-image:  url('../public/backgroundImage.png');
  display: flex;
  align-items: center;
}

.container{
  height: 30%;
  width: 82%;
  border-radius: 12px;
  padding: 2%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

}
.box{
  padding: 2%;
  height: 80%;
  width: 20%;
  background-color: rgb(255, 0, 0);
  border-radius: 12px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.boxImage1{
  padding: 2%;
  margin: auto;
  height: 50%;
  width: 50%;
  background-color: aliceblue;
  background-size: cover;
}

.fontBackground{
  margin: auto;
  color: aliceblue;
  font-size: 1.2rem;
  font-family: 'Arial Black', Gadget, sans-serif;
}