.h2{
    color: aqua;
}

.container {
    height: 96%;
    width: 80%;
    background-color: #d61c1c;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.boxContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:32%;
    width: 100%;
    background: aliceblue;

}
.boxTitle {
    background-color: lightgreen;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.h2{
    margin-left: 3%;
    color: rgb(3, 3, 32);
}
.boxForms {
    background-color: lightcoral;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
}
.boxLabel {
    background-color: lightyellow;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.label{
    background-color: yellow;
    height: 100%;
    width: 50%;
    color: black;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxInput {
    background-color: lightgray;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.inputLarge1{
    background-color: white;
    width: 60%;
    height: 35%;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
}
.inputLarge2{
    background-color: white;
    width: 55%;
    height: 35%;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    margin-right: 1%;
}
.inputSmall1{
    background-color: white;
    width: 28%;
    height: 35%;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
}
.inputSmall2{
    background-color: white;
    width: 30%;
    height: 35%;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    margin-left: 2%;
    text-align: left;
}
