.h2{
    color: aqua;
}

.container {
    height: 96%;
    width: 96%;
    background-color: #d61c1c;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.boxContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:32%;
    width: 100%;
    background: aliceblue;

}