.h2{
    color: aqua;
}

.container {
    height: 96%;
    width: 96%;
    background-color: #d61c1c;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}
.lineBreak {
    border-radius: 5%;
    height: 0.8%;
    width: 86%;
    background-color: rgb(146, 145, 145);
    align-self: center;
}

.boxContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:30%;
    width: 90%;
    background: aliceblue;

}
.boxTitle {
    background-color: lightgray;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.h2{
    margin-left: 3%;
    color: rgb(3, 3, 32);
}
.boxForms {
    background-color: lightgray;
    height: 36%;
    width: 100%;
    flex-direction: column;
    display: flex;
}
.boxLabel {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30%;
}
.label{
    height: 100%;
    width: 30%;
    color: black;
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: center;
}

.boxInput {
    background-color: lightgray;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.inputLarge1{
    background-color: white;
    width: 60%;
    height: 55%;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
}
.inputLarge2{
    background-color: white;
    width: 55%;
    height: 55%;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    margin-right: 1%;
}
.inputSmall1{
    background-color: white;
    width: 28%;
    height: 55%;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
}
.inputSmall2{
    background-color: white;
    width: 30%;
    height: 55%;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
    margin-left: 2%;
    text-align: left;
}

.checkbox {
    background-color: white;
    width: 5%;
    height: 30%;
}

.boxFormsRv{
    background-color: lightgray;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.boxForms01{
    background-color: lightgray;
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.inputMedium{
    background-color: white;
    width: 20%;
    height: 80%;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
}
.inputMediumLarge {
    background-color: white;
    width: 30%;
    height: 80%;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 10px;
}
.boxForms02{
    background-color: lightgray;
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: 4%;
    gap: 8%;
    align-items: center;
}